*.*.backup
*.backup
ansible/*.retry
ansible/*.backup
ansible/*.*.backup
ansible/environments/stage/jdauphant.nginx*
packer/notes.info
packer/service-key-v2.json.backup
terraform/terraform.tfvars
terraform/.*
terraform/.terraform/providers
terraform/prod/.terraform/providers/
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/*
Otus-cloud-terraform/.terraform.lock.hcl
VPN/cloud-bastion.ovpn
jdauphant.nginx*
*.debug
